body {
    font-family: 'Raleway', sans-serif;
    color: rgb(78, 77, 77);
    background: linear-gradient( 315deg, rgb(207, 223, 252), rgb(250, 238, 225));
}

header{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(180, 178, 178);
    
}

header div {
    text-align: center;
    color: rgb(66, 65, 65);
}

#searchcity {
    padding:15px;
    border-radius:15px;
    border: 1px solid rgb(139, 139, 139);
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
    background-color: rgba(248, 239, 225, 0.2);
    width: 30%;
    margin-right: 5px;
    font-family: 'Marmelad', sans-serif;
    outline: 0;
}
  
#submit {
    padding:15px;
    border-radius:15px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
    background-color: rgba(250, 239, 218, 0.2);
    margin-left: 5px;
    font-family: 'Marmelad', sans-serif;
    border: 1px solid rgb(139, 139, 139);
}
  
#submit:hover {
      background-color: rgb(221, 250, 255);
}
  

.status {
    margin: 0;
}

.weather-icon {
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu {
    background-color: rgba(232, 248, 255, 0.2);
    margin-top: 20px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
    width: 85%;
    font-size: 16px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
}

.main-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
}

.block-one {
    margin-top: 10px;
}

.Wstatus{
    display: flex;
    align-items: center;
}

.Wstatus p{
    margin-left: 10%;
}


.weather-table{
    width: 100%;
    margin: 10%;
    border-collapse: separate;
    border-spacing: 20px 10px;
    margin-left: 0;
}

.dayafter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.tomorrow {
    width: 250px;
    text-align: center;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(232, 248, 255, 0.2);
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
}

footer {
    border-top: 1px solid rgb(180, 178, 178);
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    color: rgb(78, 77, 77);
}